<html xmlns:th="http://www.thymeleaf.org">
<nav th:fragment="navbar" class="navbar navbar-expand-lg w-100 " id="navbar-example1" style="background:rgba(255, 255, 255, 0.75);backdrop-filter: blur(20px) saturate(180%);">
   	<div class="container-fluid ">
       <a class="navbar-brand" th:href="@{/home/index}"><img th:src="@{/images/logoFPT.png}" alt="" style="width:150px"></a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-list"></span>
                </button>
        <div class="collapse navbar-collapse  " id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" th:href="@{/home/index}" th:text="#{menu.home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home/about}" th:text="#{menu.about}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home/contact}" th:text="#{menu.contact}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home/feedback}" th:text="#{menu.feedback}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/student/index}" th:text="#{menu.student}"></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/validation/index}" th:text="#{menu.validation}"></a>
                </li>
            </ul>
            <div class="d-flex">
                <ul class="navbar-nav ">
                	<li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" th:text="#{menu.lang}"></a>
				        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <li><a class="dropdown-item" href="?lang=vi" th:text="#{menu.vie}"></a></li>
				          <li><a class="dropdown-item" href="?lang=en" th:text="#{menu.eng}"></a></li>
				        </ul>
			      	</li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/login}" th:text="#{menu.login}"></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/home/register}" th:text="#{menu.register}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<footer th:fragment="footer">
<span>FPT Polytechnic &copy; 2022. All rights reserved.</span>
</footer>

<script type="text/javascript">
	$(function(){
		$("a[href*=lang]").click(function(){
			$.ajax({
				ulr:"/layout/index" + $(this).attr("href")
			}).then(resp => location.reload());
			return false;
		})
	})
</script>
</html>